.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


  width: fit-content;

  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid var(--grey-4);

  max-height: 20rem;
}

.button {
  padding: 0.5rem 2rem;
  border: 2px solid var(--grey-4);
  border-radius: 0.6rem;

  transition: 200ms all ease-in;
}

.button:hover {
  background-color: var(--hover);
}

.button:hover.button:disabled {
  background-color: unset;
}

.button:disabled {
  color: var(--grey-4)
}